@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
@font-face {
  font-family: "Gilroy - Extra Bold";
  src: url("../fonts/fonts/Gilory-ExtraBlock/Gilroy-ExtraBold.eot");
  src: local("☺"), url("../fonts/fonts/Gilory-ExtraBlock/Gilroy-ExtraBold.woff") format("woff"), url("../fonts/fonts/Gilory-ExtraBlock/Gilroy-ExtraBold.ttf") format("truetype"), url("../fonts/fonts/Gilory-ExtraBlock/Gilroy-ExtraBold.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/fonts/Gilory-Lyght/10177.eot");
  src: local("☺"), url("../fonts/fonts/Gilory-Lyght/10177.woff") format("woff"), url("../fonts/fonts/Gilory-Lyght/10177.ttf") format("truetype"), url("../fonts/fonts/Gilory-Lyght/10177.svg") format("svg");
  font-weight: 300;
  font-style: normal;
}

.btn {
  width: 220px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  cursor: pointer;
}

.btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f6f2a9;
  z-index: 0;
  -webkit-transform: scaleY(0.25);
          transform: scaleY(0.25);
  border-radius: 10px;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.btn a {
  z-index: 1;
}

.btn a span {
  width: 133px;
  height: 15px;
  color: #000000;
  font-family: "Gilroy - Extra Bold";
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
}

.btn:hover::before {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  border-radius: 5px;
  background-color: #f0c52e;
}

.btn:active::before {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  border-radius: 5px;
  background-color: #000000;
}

.btn:active a span {
  color: #f6f2a9;
}

body {
  background-color: #ffffff;
  width: 100%;
  font-family: "Gilroy - Extra Bold";
}

@media (max-width: 777px) {
  body.lock {
    overflow: hidden;
  }
}

body.lock {
  overflow: hidden;
}

.container {
  max-width: 1165px;
  margin: 0 auto;
  padding: 0 60px;
}

@media (max-width: 1170px) {
  .container {
    max-width: 918px;
  }
}

@media (max-width: 925px) {
  .container {
    max-width: 768px;
  }
}

@media (max-width: 777px) {
  .container {
    max-width: none;
    padding: 0 20px;
  }
}

.wrapper {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

input::-webkit-input-placeholder {
  opacity: 0.3;
  color: #000000;
  font-family: "Open Sans";
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: normal;
  line-height: 30px;
  text-align: left;
  /* Text style for "П, оиск по" */
  font-style: normal;
  letter-spacing: 0.15px;
  line-height: normal;
}

input:-ms-input-placeholder {
  opacity: 0.3;
  color: #000000;
  font-family: "Open Sans";
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: normal;
  line-height: 30px;
  text-align: left;
  /* Text style for "П, оиск по" */
  font-style: normal;
  letter-spacing: 0.15px;
  line-height: normal;
}

input:hover::-webkit-input-placeholder {
  opacity: 0.6;
}

input:hover:-ms-input-placeholder {
  opacity: 0.6;
}

input:hover::-ms-input-placeholder {
  opacity: 0.6;
}

input:hover::placeholder {
  opacity: 0.6;
}

input:focus {
  border-bottom: 1px solid #000000;
}

input:focus::-webkit-input-placeholder {
  opacity: 1;
}

input:focus:-ms-input-placeholder {
  opacity: 1;
}

input:focus::-ms-input-placeholder {
  opacity: 1;
}

input:focus::placeholder {
  opacity: 1;
}

.header {
  margin: 40px 0;
}

@media (max-width: 777px) {
  .header {
    margin: 0 0 20px 0;
  }
}

.header__body {
  background-color: #f8e296;
}

.header__first-line {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 777px) {
  .header__first-line {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    background-color: #f8e296;
  }
}

.header__first-line-left-row {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

@media (max-width: 777px) {
  .header__first-line-left-row {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 80%;
            flex: 1 1 80%;
  }
}

.header__logo-body {
  position: absolute;
  content: "";
  top: -17.5px;
  left: 0;
  width: 163px;
  height: 35px;
}

@media (max-width: 777px) {
  .header__logo-body {
    top: 5px;
  }
}

.header__logo {
  width: 100%;
}

.header__search-body {
  margin: 53px 0 26px 0;
  height: 30px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media (max-width: 777px) {
  .header__search-body {
    width: 80%;
  }
}

.header__search-btn {
  background-color: #000000;
  width: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.header__search-btn span {
  color: #ffffff;
}

.header__search {
  background-color: #f8e296;
  display: inline-block;
  padding: 0 0 0 25px;
  height: 100%;
  background-image: url(../img/icon/search.svg);
  background-repeat: no-repeat;
  background-position-x: left;
  background-position-y: center;
  background-size: 16px;
  overflow: hidden;
}

.header__search-btn-body {
  height: 100%;
  cursor: pointer;
}

.header__search-btn-body span {
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.header__search-btn-body:active span {
  opacity: 0.3;
}

.header__first-line-midle-row {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25%;
          flex: 1 1 25%;
}

@media (max-width: 777px) {
  .header__first-line-midle-row {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
  }
}

.header__link-sign-in-body {
  margin: 53px 0 26px 0;
}

@media (max-width: 777px) {
  .header__link-sign-in-body {
    display: none;
  }
}

.header__link-sign-in {
  /* Style for "Войти" */
  color: #000000;
  font-family: "Open Sans";
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: normal;
  line-height: 30px;
  text-align: left;
  /* Text style for "В, ойти" */
  font-style: normal;
  letter-spacing: 0.15px;
  line-height: normal;
  padding: 0 0 0 18px;
  background-image: url(../img/icon/user.svg);
  background-position-x: left;
  background-position-y: center;
  background-repeat: no-repeat;
  background-size: 13px 12px;
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.header__link-sign-in:hover {
  opacity: 0.6;
}

.header__link-sign-in:active {
  opacity: 0.3;
}

.header__first-line-right-row {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25%;
          flex: 1 1 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 777px) {
  .header__first-line-right-row {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
  }
}

.header__link-compire-body {
  margin: 53px 60px 26px 0;
}

@media (max-width: 777px) {
  .header__link-compire-body {
    display: none;
  }
}

.header__link-compire {
  /* Style for "Войти" */
  color: #000000;
  font-family: "Open Sans";
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: normal;
  line-height: 30px;
  text-align: left;
  /* Text style for "В, ойти" */
  font-style: normal;
  letter-spacing: 0.15px;
  line-height: normal;
  padding: 0 0 0 18px;
  background-image: url(../img/icon/compare.svg);
  background-position-x: left;
  background-position-y: center;
  background-repeat: no-repeat;
  background-size: 10px 10px;
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.header__link-compire:hover {
  opacity: 0.6;
}

.header__link-compire:active {
  opacity: 0.3;
}

.header__link-basket-body {
  margin: 53px 0 26px 0;
}

@media (max-width: 777px) {
  .header__link-basket-body {
    display: none;
  }
}

.header__link-basket {
  /* Style for "Войти" */
  color: #000000;
  font-family: "Open Sans";
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: normal;
  line-height: 30px;
  text-align: left;
  /* Text style for "В, ойти" */
  font-style: normal;
  letter-spacing: 0.15px;
  line-height: normal;
  padding: 0 0 0 18px;
  background-image: url(../img/icon/cart.svg);
  background-position-x: left;
  background-position-y: center;
  background-repeat: no-repeat;
  background-size: 12px 12px;
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.header__link-basket:hover {
  opacity: 0.6;
}

.header__link-basket:active {
  opacity: 0.3;
}

.header__last-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

@media (max-width: 777px) {
  .header__last-line {
    display: none;
  }
}

.header__dropdown-page {
  display: none;
}

.header__dropdown-page.dropdown-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  content: "";
  bottom: 0;
  width: 100%;
  height: 80%;
  background-color: #f8e296;
  z-index: 5;
}

.header__dropdown-page-column {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 20%;
          flex: 1 1 20%;
}

.header__dropdown-page-column ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 100%;
}

.header__dropdown-page-column ul li {
  margin: 4px 0 4px 0;
}

.header__dropdown-page-column ul li a {
  font-family: "Open Sans";
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: normal;
  line-height: 30px;
  text-align: left;
  /* Text style for "В, ойти" */
  font-style: normal;
  letter-spacing: 0.15px;
  line-height: normal;
  color: #000000;
}

.header__dropdown-page-column ul li a:hover {
  opacity: 0.6;
}

.header__dropdown-page-column ul li a:active {
  opacity: 0.3;
}

.header__dropdown-page-column ul li:first-child {
  margin: 16px 0 8px 0;
}

.header__dropdown-page-column ul li:last-child {
  margin: 8px 0 16px 0;
}

.header__dropdown-page-column ul:last-child li {
  margin: 16px 0 8px 0;
}

.header__dropdown-page-empty-area {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40%;
          flex: 1 1 40%;
}

.header__last-line-left-row {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

.header__dropdown-directory-text {
  margin: 24px 0 172px 0;
  width: 100%;
}

.header__last-line-midle-row {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25%;
          flex: 1 1 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__dropdown-directory-textus {
  display: inline-block;
  /* Style for "Доставка" */
  color: #000000;
  font-family: "Gilroy - Extra Bold";
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 24px;
  text-align: left;
  text-transform: uppercase;
  /* Text style for "Доставка" */
  font-style: normal;
  letter-spacing: 3.6px;
  line-height: normal;
  padding: 0 20px 0 0;
  background-image: url(../img/icon/plus.svg);
  background-position-x: right;
  background-position-y: center;
  background-repeat: no-repeat;
  background-size: 16px 16px;
  overflow: hidden;
  cursor: pointer;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.header__dropdown-directory-textus:hover {
  opacity: 0.6;
}

.header__dropdown-directory-textus:active {
  opacity: 0.3;
}

.header__delivery-body {
  margin: 24px 38px 90px 0;
}

.header__delivery-body span {
  /* Style for "Доставка" */
  width: 121px;
  height: 15px;
  color: #000000;
  font-family: "Gilroy - Extra Bold";
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 24px;
  text-align: left;
  text-transform: uppercase;
  /* Text style for "Доставка" */
  font-style: normal;
  letter-spacing: 3.6px;
  line-height: normal;
  cursor: pointer;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.header__delivery-body span:hover {
  opacity: 0.6;
}

.header__delivery-body span:active {
  opacity: 0.3;
}

.header__border {
  display: inline-block;
  margin: 0 0 65px 0;
  width: 100px;
  height: 7px;
  background-color: #ffffff;
}

.header__warranty-body {
  margin: 24px 0 172px 0;
}

.header__warranty-body span {
  /* Style for "Доставка" */
  width: 121px;
  height: 15px;
  color: #000000;
  font-family: "Gilroy - Extra Bold";
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 24px;
  text-align: left;
  text-transform: uppercase;
  /* Text style for "Доставка" */
  font-style: normal;
  letter-spacing: 3.6px;
  line-height: normal;
  cursor: pointer;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.header__warranty-body span:hover {
  opacity: 0.6;
}

.header__warranty-body span:active {
  opacity: 0.3;
}

.header__last-line-right-row {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25%;
          flex: 1 1 25%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.header__contacts-body {
  margin: 24px 0 60px 0;
}

.header__contacts-body span {
  /* Style for "Доставка" */
  width: 121px;
  height: 15px;
  color: #000000;
  font-family: "Gilroy - Extra Bold";
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 24px;
  text-align: left;
  text-transform: uppercase;
  /* Text style for "Доставка" */
  font-style: normal;
  letter-spacing: 3.6px;
  line-height: normal;
  cursor: pointer;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.header__contacts-body span:hover {
  opacity: 0.6;
}

.header__contacts-body span:active {
  opacity: 0.3;
}

.header__big-number-one-body {
  content: "";
  position: absolute;
  right: 0;
  bottom: -54px;
}

.header__big-number-one-body span {
  /* Style for "01" */
  width: 166px;
  height: 131px;
  color: #ffffff;
  font-family: "Gilroy - Extra Bold";
  font-size: 179px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 179.2px;
  text-align: right;
  letter-spacing: 0.36px;
}

.header__menu-burger {
  display: none;
}

@media (max-width: 777px) {
  .header__menu-burger {
    display: block;
    position: absolute;
    content: "";
    width: 32px;
    height: 25px;
    top: 5px;
    right: 0;
  }
  .header__menu-burger::before, .header__menu-burger::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #000000;
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
  }
  .header__menu-burger::before {
    top: 0;
    left: 0;
  }
  .header__menu-burger span {
    content: "";
    position: absolute;
    top: 11px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #000000;
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
  }
  .header__menu-burger::after {
    bottom: 0;
    left: 0;
  }
}

.header__menu-burger.active span {
  -webkit-transform: scale(0);
          transform: scale(0);
}

.header__menu-burger.active::before {
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
  top: 11px;
}

.header__menu-burger.active::after {
  -webkit-transform: rotateZ(-45deg);
          transform: rotateZ(-45deg);
  bottom: 11px;
}

.header__menu {
  display: none;
  content: "";
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: #dbbf59;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  overflow: auto;
}

@media (max-width: 777px) {
  .header__menu {
    display: inline-block;
  }
}

.header__menu-body {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 120px 10px 10px 10px;
}

.header__link-sign-in-body.menu {
  display: inline-block;
  z-index: 2;
}

.header__link-compire-body.menu {
  z-index: 2;
  display: inline-block;
}

.header__link-basket-body.menu {
  display: inline-block;
  z-index: 2;
}

.header__menu.active {
  top: 0;
}

.header span.menu {
  display: inline-block;
  width: 100%;
  height: 3px;
  background-color: #a79141;
}

.menu {
  margin: 10px 0;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
