.header {
    // .header__body
    margin: 40px 0;

    @media (max-width: 777px) {
        margin: 0 0 20px 0;
    }
    &__body {
        background-color: #f8e296;
    }

    // .header__first-line

    &__first-line {
        position: relative;
        display: flex;

        @media (max-width: 777px) {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            z-index: 10;
            width: 100%;

            background-color: #f8e296;
        }
    }

    // .header__first-line-left-row

    &__first-line-left-row {
        flex: 1 1 50%;
        @media (max-width: 777px) {
            flex: 1 1 80%;
        }
    }

    // .header__logo-body

    &__logo-body {
        position: absolute;
        content: "";
        top: -17.5px;
        left: 0;
        width: 163px;
        height: 35px;

        @media (max-width: 777px) {
            top: 5px;
        }
    }

    // .header__logo

    &__logo {
        width: 100%;
    }

    // .header__search-body

    &__search-body {
        margin: 53px 0 26px 0;
        height: 30px;
        width: 100%;
        display: flex;
        flex-direction: row;
        //justify-content: space-between;

        @media (max-width: 777px) {
            width: 80%;
        }
    }

    &__search-btn {
        background-color: #000000;
        width: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;

        & span {
            color: #ffffff;
        }
    }
    // .header__search

    &__search {
        background-color: #f8e296;
        display: inline-block;
        padding: 0 0 0 25px;
        height: 100%;
        //width: 120px;

        background-image: url(../img/icon/search.svg);
        background-repeat: no-repeat;
        background-position-x: left;
        background-position-y: center;
        background-size: 16px;
        overflow: hidden;
    }

    &__search-btn-body {
        height: 100%;
        //padding: 0 0 0 20px;
        cursor: pointer;

        & span {
            transition-duration: 0.3s;
        }
    }

    &__search-btn-body:active {
        & span {
            opacity: 0.3;
        }
    }
    // .header__first-line-midle-row

    &__first-line-midle-row {
        flex: 1 1 25%;
        @media (max-width: 777px) {
            flex: none;
        }
    }

    // .header__link-sign-in-body

    &__link-sign-in-body {
        margin: 53px 0 26px 0;
        @media (max-width: 777px) {
            display: none;
        }
    }

    // .header__link-sign-in

    &__link-sign-in {
        /* Style for "Войти" */
        color: #000000;
        font-family: "Open Sans";
        font-size: 15px;
        font-weight: 300;
        font-style: normal;
        letter-spacing: normal;
        line-height: 30px;
        text-align: left;
        /* Text style for "В, ойти" */
        font-style: normal;
        letter-spacing: 0.15px;
        line-height: normal;

        padding: 0 0 0 18px;

        background-image: url(../img/icon/user.svg);
        background-position-x: left;
        background-position-y: center;
        background-repeat: no-repeat;
        background-size: 13px 12px;
        overflow: hidden;
        transition-duration: 0.3s;
    }
    &__link-sign-in:hover {
        opacity: 0.6;
    }
    &__link-sign-in:active {
        opacity: 0.3;
    }

    // .header__first-line-right-row

    &__first-line-right-row {
        flex: 1 1 25%;
        display: flex;
        @media (max-width: 777px) {
            flex: none;
        }
    }

    // .header__link-compire-body

    &__link-compire-body {
        margin: 53px 60px 26px 0;
        @media (max-width: 777px) {
            display: none;
        }
    }

    // .header__link-compire

    &__link-compire {
        /* Style for "Войти" */
        color: #000000;
        font-family: "Open Sans";
        font-size: 15px;
        font-weight: 300;
        font-style: normal;
        letter-spacing: normal;
        line-height: 30px;
        text-align: left;
        /* Text style for "В, ойти" */
        font-style: normal;
        letter-spacing: 0.15px;
        line-height: normal;

        padding: 0 0 0 18px;

        background-image: url(../img/icon/compare.svg);
        background-position-x: left;
        background-position-y: center;
        background-repeat: no-repeat;
        background-size: 10px 10px;
        overflow: hidden;
        transition-duration: 0.3s;

        @media (max-width: 777px) {
        }
    }

    &__link-compire:hover {
        opacity: 0.6;
    }

    &__link-compire:active {
        opacity: 0.3;
    }

    // .header__link-basket-body

    &__link-basket-body {
        margin: 53px 0 26px 0;
        @media (max-width: 777px) {
            display: none;
        }
    }

    // .header__link-basket

    &__link-basket {
        /* Style for "Войти" */
        color: #000000;
        font-family: "Open Sans";
        font-size: 15px;
        font-weight: 300;
        font-style: normal;
        letter-spacing: normal;
        line-height: 30px;
        text-align: left;
        /* Text style for "В, ойти" */
        font-style: normal;
        letter-spacing: 0.15px;
        line-height: normal;

        padding: 0 0 0 18px;

        background-image: url(../img/icon/cart.svg);
        background-position-x: left;
        background-position-y: center;
        background-repeat: no-repeat;
        background-size: 12px 12px;
        overflow: hidden;
        transition-duration: 0.3s;
    }

    &__link-basket:hover {
        opacity: 0.6;
    }

    &__link-basket:active {
        opacity: 0.3;
    }

    // .header__last-line

    &__last-line {
        display: flex;
        position: relative;

        @media (max-width: 777px) {
            display: none;
        }
    }

    &__dropdown-page {
        display: none;
    }

    &__dropdown-page.dropdown-page {
        display: flex;
        position: absolute;
        content: "";
        bottom: 0;
        width: 100%;
        height: 80%;
        background-color: #f8e296;
        z-index: 5;
    }

    &__dropdown-page-column {
        flex: 1 1 20%;

        & ul {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            height: 100%;

            & li {
                margin: 4px 0 4px 0;
                & a {
                    font-family: "Open Sans";
                    font-size: 15px;
                    font-weight: 300;
                    font-style: normal;
                    letter-spacing: normal;
                    line-height: 30px;
                    text-align: left;
                    /* Text style for "В, ойти" */
                    font-style: normal;
                    letter-spacing: 0.15px;
                    line-height: normal;
                    color: #000000;
                }

                & a:hover {
                    opacity: 0.6;
                }

                & a:active {
                    opacity: 0.3;
                }
            }

            & li:first-child {
                margin: 16px 0 8px 0;
            }
            & li:last-child {
                margin: 8px 0 16px 0;
            }
        }

        & ul:last-child {
            & li {
                margin: 16px 0 8px 0;
            }
        }
    }

    &__dropdown-page-empty-area {
        flex: 1 1 40%;
    }

    &__dropdown-page-column {
    }

    &__last-line.dropdown-page {
    }

    // .header__last-line-left-row

    &__last-line-left-row {
        flex: 1 1 50%;
    }

    // .header__dropdown-directory-text

    &__dropdown-directory-text {
        margin: 24px 0 172px 0;
        width: 100%;
    }

    // .header__last-line-midle-row

    &__last-line-midle-row {
        flex: 1 1 25%;
        display: flex;
    }

    &__dropdown-directory-textus {
        display: inline-block;
        /* Style for "Доставка" */
        color: #000000;
        font-family: "Gilroy - Extra Bold";
        font-size: 18px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: 24px;
        text-align: left;
        text-transform: uppercase;
        /* Text style for "Доставка" */
        font-style: normal;
        letter-spacing: 3.6px;
        line-height: normal;

        padding: 0 20px 0 0;

        background-image: url(../img/icon/plus.svg);
        background-position-x: right;
        background-position-y: center;
        background-repeat: no-repeat;
        background-size: 16px 16px;
        overflow: hidden;
        cursor: pointer;
        transition-duration: 0.3s;
    }

    &__dropdown-directory-textus:hover {
        opacity: 0.6;
    }

    &__dropdown-directory-textus:active {
        opacity: 0.3;
    }

    // .header__delivery-body

    &__delivery-body {
        margin: 24px 38px 90px 0;
        & span {
            /* Style for "Доставка" */
            width: 121px;
            height: 15px;
            color: #000000;
            font-family: "Gilroy - Extra Bold";
            font-size: 18px;
            font-weight: 400;
            font-style: normal;
            letter-spacing: normal;
            line-height: 24px;
            text-align: left;
            text-transform: uppercase;
            /* Text style for "Доставка" */
            font-style: normal;
            letter-spacing: 3.6px;
            line-height: normal;
            cursor: pointer;
            transition-duration: 0.3s;
        }

        & span:hover {
            opacity: 0.6;
        }

        & span:active {
            opacity: 0.3;
        }
    }

    // .header__border

    &__border {
        display: inline-block;
        margin: 0 0 65px 0;
        width: 100px;
        height: 7px;
        background-color: #ffffff;
    }

    // .header__warranty-body

    &__warranty-body {
        margin: 24px 0 172px 0;
        & span {
            /* Style for "Доставка" */
            width: 121px;
            height: 15px;
            color: #000000;
            font-family: "Gilroy - Extra Bold";
            font-size: 18px;
            font-weight: 400;
            font-style: normal;
            letter-spacing: normal;
            line-height: 24px;
            text-align: left;
            text-transform: uppercase;
            /* Text style for "Доставка" */
            font-style: normal;
            letter-spacing: 3.6px;
            line-height: normal;
            cursor: pointer;
            transition-duration: 0.3s;
        }

        & span:hover {
            opacity: 0.6;
        }

        & span:active {
            opacity: 0.3;
        }
    }

    // .header__last-line-right-row

    &__last-line-right-row {
        flex: 1 1 25%;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    // .header__contacts-body

    &__contacts-body {
        margin: 24px 0 60px 0;
        & span {
            /* Style for "Доставка" */
            width: 121px;
            height: 15px;
            color: #000000;
            font-family: "Gilroy - Extra Bold";
            font-size: 18px;
            font-weight: 400;
            font-style: normal;
            letter-spacing: normal;
            line-height: 24px;
            text-align: left;
            text-transform: uppercase;
            /* Text style for "Доставка" */
            font-style: normal;
            letter-spacing: 3.6px;
            line-height: normal;
            cursor: pointer;
            transition-duration: 0.3s;
        }

        & span:hover {
            opacity: 0.6;
        }

        & span:active {
            opacity: 0.3;
        }
    }

    // .header__big-number-one-body

    &__big-number-one-body {
        content: "";
        position: absolute;
        right: 0;
        bottom: -54px;
        & span {
            /* Style for "01" */
            width: 166px;
            height: 131px;
            color: #ffffff;
            font-family: "Gilroy - Extra Bold";
            font-size: 179px;
            font-weight: 400;
            font-style: normal;
            letter-spacing: normal;
            line-height: 179.2px;
            text-align: right;
            letter-spacing: 0.36px;
        }
    }

    &__menu-burger {
        display: none;

        @media (max-width: 777px) {
            display: block;
            position: absolute;
            content: "";
            width: 32px;
            height: 25px;
            top: 5px;
            right: 0;
            //background-color: #000000;
            &::before,
            &::after {
                content: "";
                position: absolute;
                width: 100%;
                height: 3px;
                background-color: #000000;
                transition-duration: 0.3s;
            }

            &::before {
                top: 0;
                left: 0;
            }

            & span {
                content: "";
                position: absolute;
                top: 11px;
                left: 0;
                width: 100%;
                height: 3px;
                background-color: #000000;
                transition-duration: 0.3s;
            }

            &::after {
                bottom: 0;
                left: 0;
            }
        }
    }

    &__menu-burger.active {
        & span {
            transform: scale(0);
        }

        &::before {
            transform: rotateZ(45deg);
            top: 11px;
        }

        &::after {
            transform: rotateZ(-45deg);
            bottom: 11px;
        }
    }

    &__menu {
        display: none;
        content: "";
        position: absolute;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        background-color: #dbbf59;
        transition-duration: 0.3s;
        overflow: auto;
        @media (max-width: 777px) {
            display: inline-block;
        }
    }

    // .header__menu-body

    &__menu-body {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        padding: 120px 10px 10px 10px;
    }

    // .header__link-sign-in-body

    &__link-sign-in-body.menu {
        display: inline-block;
        z-index: 2;
    }

    // .header__link-sign-in

    &__link-sign-in {
    }

    // .header__link-compire-body

    &__link-compire-body.menu {
        z-index: 2;
        display: inline-block;
    }

    // .header__link-compire

    &__link-compire {
    }

    // .header__link-basket-body

    &__link-basket-body.menu {
        display: inline-block;
        z-index: 2;
    }

    // .header__link-basket

    &__link-basket {
    }

    &__menu.active {
        top: 0;
    }

    & span.menu {
        display: inline-block;
        width: 100%;
        height: 3px;
        background-color: #a79141;
    }

    &__dropdown-directory-text {
    }

    // .header__dropdown-directory-textus

    &__dropdown-directory-textus {
    }
}

.menu {
    margin: 10px 0;
}
