.six-block {
    // .six-block__body
    background-color: #f5f5f5;
    padding: 115px 0;
    @media (max-width: 777px) {
        padding: 50px 0;
    }

    @media (max-width: 925px) {
        padding: 50px;
    }
    &__body {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    // .six-block__top-row

    &__top-row {
    }

    // .six-block__top-row-body

    &__top-row-body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    // .six-block__top-row-title

    &__top-row-title {
        & span {
            color: #212121;
            font-family: Raleway, "Helvetica Neue", Helvetica, sans-serif;
            font-size: 36px;
            font-weight: 400;
            line-height: 43px;
            text-transform: uppercase;
        }
        margin: 0 0 30px 0;
    }

    // .six-block__top-row-border

    &__top-row-border {
        display: block;
        width: 64px;
        height: 2px;
        background-color: #ff8b39;
        margin: 0 0 30px 0;
    }

    // .six-block__top-row-text

    &__top-row-text {
        & p {
            color: #86878b;
            font-family: "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
        }
    }

    // .six-block__bottom-row

    &__bottom-row {
        padding: 80px 0;
        height: 600px;
        @media (max-width: 777px) {
            width: 100%;
        }
    }

    // .six-block__bottom-row-body

    &__bottom-row-body {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        @media (max-width: 925px) {
            display: block;
        }
    }

    // .six-block__price-body

    &__price-body {
        margin-right: 40px;
        width: 343px;
        background-color: #333333;

        @media (max-width: 1170px) {
            margin-right: 20px;
            width: 280px;
        }
        @media (max-width: 925px) {
            width: 343px;
            margin-right: 0;
        }
        @media (max-width: 777px) {
            width: 100%;
        }
    }

    &__price-body:last-child {
        margin-right: 0;
    }
    // .six-block__price-title

    &__price-title {
        height: 59px;
        border-bottom: 1px solid #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        & span {
            display: block;
            color: #ffffff;
            font-family: "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
            font-size: 20px;
            font-weight: 700;
            line-height: 24px;
        }
    }

    // .six-block__price-price

    &__price-price {
        width: 100%;
        border-bottom: 1px solid #ffffff;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        padding: 0 0 20px 0;
        &__price-price-body {
        }
        & p {
            display: block;
            color: #ffffff;
            font-family: Raleway, "Helvetica Neue", Helvetica, sans-serif;
            font-size: 94px;
            font-weight: 700;
            line-height: 24px;
            & span {
                font-size: 35px;
            }
        }
    }

    &__price-monthly {
        height: 51px;
        border-bottom: 1px solid #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        & p {
            opacity: 0.5;
            color: #ffffff;
            font-family: "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
            font-size: 14px;
            font-weight: 400;
            font-style: italic;
            line-height: 24px;
        }
    }

    // .six-block__price-btn

    &__price-btn {
        height: 5px;
        background-color: #ff8b38;
        //width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition-duration: 0.25s;
        & span {
            transform: scale(0);
            color: #ffffff;
            font-family: "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
            font-size: 14px;
            font-weight: 700;
            line-height: 24px;
            text-transform: uppercase;
            transition-duration: 0.2s;
            @media (max-width: 777px) {
                font-size: 10px;
            }
        }

        &:hover {
            background-color: #ff6a00;
            box-shadow: #ff6a00;

            & span {
                color: #000000;
            }
        }
    }

    &__price-body:hover {
        .six-block__price-btn {
            height: 40px;

            & span {
                transform: scale(1);
            }
        }

        .six-block__bottom-row-body {
            //height: ;
        }
    }

    // .six-block__price-tth

    &__price-tth {
        width: 100%;
    }

    // .six-block__price-ram

    &__price-ram {
        height: 40px;
        background-color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid #f5f5f5;

        & span {
            display: block;
            color: #86878b;
            font-family: "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
            font-size: 14px;
            font-weight: 400;
            line-height: 24px;
            text-transform: uppercase;
            @media (max-width: 777px) {
                font-size: 10px;
            }
        }
    }

    @media (max-width: 925px) {
        &__price-monthly {
            height: 0;
            border-bottom: none;

            & p {
                transform: scale(0);
                transition-duration: 0.2s;
            }
            transition-duration: 0.2s;
        }

        &__price-ram {
            height: 0;
            border-bottom: none;
            & span {
                transform: scale(0);
                transition-duration: 0.2s;
            }
            transition-duration: 0.2s;
        }

        .six-block__price-price {
            height: 0;
            padding: 0;
            transition-duration: 0.2s;
        }
        .six-block__price-price-body {
            //height: 0;
            & p {
                transform: scale(0);

                & span {
                    transform: scale(0);
                    transition-duration: 0.2s;
                }
                transition-duration: 0.2s;
            }
        }

        &__price-body:hover {
            margin: 0 0 10px 0;
            .six-block__price-price {
                padding: 0 0 20px 0;
                height: 100px;
            }
            .six-block__price-price-body {
                //height: 100%;
                & p {
                    transform: scale(1);

                    & span {
                        transform: scale(1);
                    }
                }
            }
            .six-block__price-ram {
                height: 40px;
                border-bottom: 1px solid #ffffff;

                & span {
                    transform: scale(1);
                }
            }

            .six-block__price-monthly {
                height: 51px;
                border-bottom: 1px solid #ffffff;

                & p {
                    transform: scale(1);
                }
            }
        }
        &__bottom-row {
            height: 100%;
        }
    }
}
